.productos-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
  top: 2rem;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.precio-total {
    position: absolute;
    bottom: 2rem;
    font-size: 1rem;
    font-weight: 600;
}

.tabla-productos {
    display: flex;
    justify-content: center;
    position: relative;
    top: 2rem;
}